APP_NAME="ATI System"
APP_URL=http://localhost/atiSystem/public
#APP_URL=https://unique-closely-guppy.ngrok-free.app/
DB_HOST=localhost
DB_NAME=atinew
DB_USER=ati
DB_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
